
<div class="container">
    <div class="row">
            {% include 'products/components/menu.html' %}
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            {% include 'products/components/slider.html' %}
                <div class="row">
                    {% for product in object_list %}
                        {% include 'products/components/product_card.html' %}
                    {% endfor %}
                </div>
            {% include 'products/components/paginator.html' %}
        </div>
    </div>
</div>